@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

button.normal{
 font-size: 14px;
 font-weight: 600;
 padding:15px 30px;
 color: #000;
 background-color: #fff;
 border-radius: 4px;
 cursor: pointer;
 border: none;
 outline: none;
 transition: 0.2s;
}

button.white{
 font-size: 13px;
 font-weight: 600;
 padding:11px 18px;
 color: #fff;
 background-color: transparent;
 cursor: pointer;
 border: 1px solid #fff;
 outline: none;
 transition: 0.2s;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

body{
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #fefefe;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    color: #465b52;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s ease;
}

#navbar li a:hover, #navbar li a.active{
    color: #6d7969;
}

#navbar li a.active::after, #navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #6d7969;    
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero{
    background-image: url("img/hero4.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
    color: #d7a958;
}
#hero h1{
    color: #fefefe;
}

#hero h2 {
    color: #6d7969;
}

#hero p {
    color: #d7a958; 
}

#hero h4, #hero h1, #hero h2,#hero p{
    text-shadow: 2px 2px 4px rgba(3, 3, 3, 0.7);
}

#hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-size: cover;
    font-weight: 700;
    font-size: 15px;
    width: max-content;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.34);
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #84592b;
    background-color: #e8d1a7;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #d7b19d;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #e0c4a0;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #e8c4a9;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #e1b797;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #d9a883;
}

#product1{
    text-align: center;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #c29681;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243,181,25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro a.cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
    text-align: center; 
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #fff;
    font-size: 16px;
}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #810303;
}

#banner button:hover{
    background-color: #c29681;
    color: #fff;
}

.banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/fall.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background: #c29681;
    border: 1px solid #c29681;

}

.banner-box2{
    background-image: url("img/summer.jpg");
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/winter.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-bottom: 20px;
}

#banner3 h2{
    color: #fff;
    font-size: 22px;
    font-weight: 800;
}

#banner3 h3{
    color: #810303;
    font-size: 15px;
    font-weight: 800;
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box2{
    background-image: url('img/footwear.jpg');
}

#banner3 .banner-box3{
    background-image: url('img/tshirt.jpg');
}